/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/dez/2016, 15:40:44
    Author     : tania
*/

@font-face {
    font-family: ChunkFive;
    src: url(../Font/Chunkfive.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../Font/Roboto-Black.ttf);
}

body{
    font-family: Roboto;
}

h1{
    color: darkslategray;
    font-family: ChunkFive;
    text-align: center;
}

h2{
    color: black;
    font-family: ChunkFive;
}